<footer>
    <img src="Images/logo.svg"></img>
    <div class="socMed">
        <a href="#"><img class="socmedImg" src="Images/facebook.svg"></a>
        <a href="#"><img class="socmedImg" src="Images/instagram.svg"></a>
        <a href="#"><img class="socmedImg" src="Images/linkedin.svg"></a>
        <a href="#"><img class="socmedImg" src="Images/twitter.svg"></a>
        <a href="#"><img class="socmedImg" src="Images/youtube.svg"></a>
    </div>

    <div class="lastFooter">
        <a href="#">© 2024 HIMAIF UPNVJ</a>
        <a href="#">Terms</a>
        <a href="#">Privacy</a>
    </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="Script/script.js"></script>
</body>
</html>